@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  color-scheme: light; /* браузер не будет менять цвета автоматически */
}

.AGhead {
  font-family: 'Inter', sans-serif;
  font-weight: 600;       
  font-size: 24px;
  line-height: 150%;  
  color: #363B49;    
}

.dark .AGhead {  
  color: #C9D1D9;    
}

.AGtext {
  font-family: 'Inter';
  font-weight: 400;     
  font-size: 16px;
  line-height: 24px;      /* можно указать и в px */
}

.AGtxt14 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;       /* Regular */
  font-size: 14px;
  line-height: 16px;      /* можно указать и в px */
}

.AGmenuchat {
  font-family: 'Inter', sans-serif;
  font-weight: 500;     /* Medium */
  font-size: 16px;
  line-height: 20px;
}

.dark #MainChat-Window {
  background-color: #2A3036;
}

#mob-sidebar-wrapper {
  display: none;
}

#MainChat-Window {
  width: 500px;
  height: 688px;
  padding: 30px 20px 0px 40px;
}

#chat-header {
  width: 480px;
  height: 44px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #D0D9DF;
}

#m-sb-toggle {
  display: none;
}

.dark #chat-header {
  color: #C9D1D9;
  border-bottom: 1px solid #EAEEF11A;
}



#chat-header span {
  margin-left: 5px;
  font-size: 24px;
}

#toggle-chat-btn {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 0;
  top:-15px;
  right: -25px;
}

#search-bar {
  width: 480px;
  height: 40px;
  margin-bottom: 20px;
}

.search-input {
  border: none;
  outline: none;
  width: 420px;
  padding: 8px 30px;
  box-shadow: none;
  border: 1px solid #D0D9DF;
  border-radius: 12px !important;
}

.search-input.search-input-with-query {
  width: 460px;
  padding: 8px 12px;
}

.dark .search-input {
  color: #C9D1D9 !important;
  background-color: #2A3036;
  border: 1px solid #EAEEF11A;
  outline: none;
}

#chat-body {
  height: 100%;
  max-height: 564px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
}

/* Стилизация полосы прокрутки */
#chat-body::-webkit-scrollbar {
  width: 2px;
}

#chat-body::-webkit-scrollbar-track {
  background: transparent;
}

#chat-body::-webkit-scrollbar-thumb {
  background-color: #D0D9DF;
  border-radius: 2px;
}

.dark #chat-body::-webkit-scrollbar-thumb {
  background-color: #EAEEF11A;
}

#chat-messages{
  min-height: 308px;
  /* overflow-y: auto; */
}

.bot-message,
.user-message {
  margin-bottom: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  text-align: left;
  color: #363B49
}

.bot-message {
    background-color: #EAEEF11A;
    border: 1px solid #EAEEF1;
    padding: 12px 20px;
    border-bottom-right-radius: 12px;
  }

.dark .bot-message {
  color: #C9D1D9;
  background-color: rgba(234, 238, 241, 0.05);
  border: 1px solid #EAEEF11A;
}

.bot-message .highlight {
  background-color: #FFDE66;
}

.user-message .highlight {
  background-color: #FF9466;
} 
  
.user-message {
  width: 350px;
  padding: 12px 20px;
  border: 1px solid #EAEEF1;
  margin-left: auto;
  border-bottom-left-radius: 12px;
}

.dark .user-message {
  border: 1px solid #EAEEF11A;
  color: #C9D1D9;
}

.message-main {
  padding-bottom: 20px;
  margin-bottom: 12px;
  border-bottom: #EAEEF1 solid 1px;
}

.dark .message-main {
  border-bottom: 1px solid #EAEEF11A;
}

.user-extra {
  display: flex;
  justify-content: end;
}

.bot-extra {
  display: flex;
  justify-content: space-between;
}

.edit-message-wrapper {
  width: 100%;
  margin-bottom: 20px;
  max-width: 640px;
}


.edit-message-container {
  display: flex;
  flex-direction: column;
}

.edit-textarea {
  width: 80%;
  height: 32px;
  resize: none;
  padding: 10px 20px;
  border: 1px solid #708AB9;
  border-radius: 12px;
  margin-left: auto;
  margin-bottom: 12px;
  background-color: transparent;
  outline: none; 
  color: #363B49;
}

.edit-textarea::-webkit-scrollbar {
  width: 2px; 
}

.edit-textarea::-webkit-scrollbar-track {
  background: transparent;
}

.edit-textarea::-webkit-scrollbar-thumb {
  background-color: #D0D9DF;
  border-radius: 2px;
}

.dark .edit-textarea::-webkit-scrollbar-thumb {
  background-color: #EAEEF11A;
}

.edit-textarea:focus {
  outline: none; 
}

.dark .edit-textarea {
  background-color: #EAEEF11A;
  color: #C9D1D9;
  font-weight: 300;
}

.edit-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.btn-cancel,
.btn-send {
  width: 110px;
  height: 36px;
  display: flex;
  align-items: center;   
  justify-content: center;
  border-radius: 12px;
  outline: none !important;
}

.btn-cancel {
  border: 1px solid #708AB9;
  color: #708AB9 !important;
  background: transparent;
  cursor: pointer;
}

.btn-cancel:hover,
.btn-cancel:active {
  background-color: rgba(82, 94, 225, 0.2);
  outline: none !important;
}

.btn-send {
  border: none;
  color: white !important;
  background-color: #708AB9;
  cursor: pointer;
  font-weight: 300;
}

.btn-send:hover,
.btn-send:active {
  background-color: #53698F;
}

.dark .btn-cancel:hover,
.dark .btn-cancel:focus,
.dark .btn-cancel:active {
  border: 1px solid #708AB9;
  background-color: rgba(91, 113, 152, 0.2);
}

.chat-messages-grad {
  pointer-events: none;
  position: sticky;
  bottom: 190px;
  height: 65px;
  z-index: 10;
  background: linear-gradient(to top, white, transparent);
}

.dark .chat-messages-grad {
  background: linear-gradient(to top, #2A3036, transparent);
}

#chat-input-main {
  position: sticky;
  height: 171px;
  bottom: 0;
  margin-top: auto;
  padding-top: 20px;
  background-color: #fff;
}

.dark #chat-input-main {
  background-color: #2A3036;
}

#toggle-type-ask {
  display: flex;
  justify-content: space-between;
  background-color: #F0F3F5;
  border-radius: 12px;
}

.dark #toggle-type-ask {
  background-color: #EAEEF11A;
  border-radius: 12px;
}

.toggle-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 35px;
  border-radius: 12px;
  border: none;
  padding: 8px 12px;
  color: #747A85;
  background-color: transparent;
}

.dark .toggle-type {
  background-color: transparent;
  color: #747A85;
}

.toggle-type:focus {
  outline: none;
}

.toggle-type.toggle-type-active {
  background-color: #708AB9;
  color: #fff;
}

.dark .toggle-type.toggle-type-active {
  background-color: #708AB9;
  color: #fff;
}

#chat-input {
  width: 432px;
  height: 104px;
  padding: 12px 24px;
  border-radius: 12px;
  background-color: rgba(240, 243, 245, 0.4);
  margin-top: 8px;
}

.dark #chat-input {
  color: #A3A3A3;
  background-color: rgba(234, 238, 241, 0.2);
}

.inputPlaceHolder::placeholder {
  color: #A3A3A3;
  font-weight: 400;
}

#chat-input textarea {
  width: 100%;
  height: 55px;
  border: none;
  background-color: transparent;
  resize: none;
  color: #363B49;
}


.dark #chat-input textarea {
  color: #C9D1D9;
}

#chat-input textarea::-webkit-scrollbar {
  width: 2px;
}

#chat-input textarea::-webkit-scrollbar-track {
  background: transparent;
}

#chat-input textarea::-webkit-scrollbar-thumb {
  background-color: #D0D9DF;
  border-radius: 2px;
}

.dark #chat-input textarea::-webkit-scrollbar-thumb {
  background-color: #EAEEF11A;
}

#chat-input textarea:focus {
  outline: none;
}

#mob-input-icons {
  display: none;
}

#chat-input-buttons {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #D0D9DF;
  padding-top: 10px;
}

.dark #chat-input-buttons {
  border-top: 1px solid #EAEEF11A;
}

.type-answer {
  height: 24px;
  margin-right: 8px;
  padding: 4px 12px;
  color: #707D8F;
  border-radius: 12px;
  border: none;
  background-color: #EAEEF1;
  float: left;
}

.dark .type-answer {
  color: #C9D1D9;
  background-color: rgba(234, 238, 241, 0.3);
}

.type-answer:hover,
.type-answer:active,
.type-answer-sel {
  color: #FFF;
  background-color: #708AB9;
}


.dark .type-answer:hover,
.dark .type-answer:active,
.dark .type-answer-sel {
  color: #FFF;
  background-color: #708AB9;
}

#chat-input-buttons button:focus {
  outline: none;
}

.tooltip-container {
  position: relative;
  display: flex;
}

/* Сам тултип */
.tooltip-box-fixed {
  position: absolute;
  bottom: 100%; /* над кнопками */
  left: 0;
  margin-bottom: 10px;

  background: #2e2e2e;
  color: #fff;
  font-size: 13px;
  padding: 8px 12px;
  border-radius: 8px;
  white-space: nowrap;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);

  opacity: 0;
  /* transition: opacity 0.2s; */
  pointer-events: none;
  z-index: 200;
}

.tooltip-box-fixed.show {
  opacity: 1;
}

/* Стрелка */
.tooltip-arrow-fixed {
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #2e2e2e;
}


@media (max-width: 768px) {
  #chat-wraper {
    width: 100vw;
    height:100vh !important;
  }

  #sidebar-wrapper {display: none;}

  #mob-sidebar-wrapper {
    display: block;
  }

  

  #MainChat-Window {
    width: 96vw;
    height:96vh;
    padding: 2vh 2vw;
    margin: 0;
  }

  #chat-header {
    width: 100%;
  }

  #m-sb-toggle {
    display: block;
  }

  #toggle-chat-btn {
    right: 0;
    top: 0;
  }

  #search-bar {
    width:100%;
  }

  .search-input {
    width: calc(100% - 80px);
  }

  #search-icon-wrapper {
    left: 4vw;
  }

  #chat-body {
    padding-right:2vw;
  }

  .user-message,
  .bot-message {
    width: 80vw;
  }

  #chat-input {
    padding: 3%;
    width: 94%;
  }

  #input-icons {
    display: none;
  }

  #mob-input-icons {
    display: block;
    position: relative;
    right: -45%;
    top: -35%;
  }

}

