@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.ProfileAGtext {
  font-family: 'Inter';
  font-weight: 200;       /* Regular */
  font-size: 16px;
  line-height: 24px;      /* можно указать и в px */
  color: #363B49;
}

.dark .ProfileAGtext{
  color: #C9D1D9;
}

.ProfileAGmenuchat {
  font-family: 'Inter', sans-serif;
  font-weight: 500;     /* Medium */
  font-size: 16px;
  line-height: 20px;
}


#profile-window{
    width: 480px;
    padding: 40px;
}

#profile-head {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#profile-main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.profile-main-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.linebottom {
    border-bottom: 1px solid #E1E4E8;
}

.dark .linebottom {
    border-bottom: 1px solid #EAEEF11A;
}

.main-profile-button,
.red-profile-button {
    border-radius: 12px;
}

.main-profile-button {
    padding: 8px 12px;
    border: 1px solid #E1E4E8 !important;
}

.dark .main-profile-button  {
  border: 1px solid #EAEEF11A !important;
}

.red-profile-button {
    padding: 8px 16px;
    color: #fff  !important;
    background-color: #A83433  !important;
}