.AG16med {
  font-family: 'Inter';
  font-weight: 500;       
  font-size: 16px;
  line-height: 20px;      
}

.AG16reg {
  font-family: 'Inter';
  font-weight: 400;      
  font-size: 16px;
  line-height: 150%;      
}

.AGtext {
  font-family: 'Inter';
  font-weight: 200;       /* Regular */
  font-size: 16px;
  line-height: 24px;      /* можно указать и в px */
  color: #363B49;
}

#Sidebar-Window,
#Sidebar-Window-Close {
    background-color: #F0F3F5;
    padding: 20px 16px;
    height: 720px;
  }

  #Sidebar-Header {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 4px 0px 16px 12px; 
    margin-bottom: 15px;
    border-bottom: 1px solid #B0B8C1;
  }
  

  .new-chat-button {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 150px;
    color: #708AB9;
    border: #708AB9 solid 1px;
    background: "none";
    padding: 8px 12px;
    margin: 0;
    outline: "none";
    cursor: "pointer";
  }

  .new-chat-button:focus {
    outline: none;
  }

  .new-chat-button span {
    margin-left: 8px;
  }

  .sb-menu-head {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px 12px;
    color: #363B49;
    cursor: pointer;
    border-radius: 12px;
  }

  .sb-menu-head:hover {
    background-color: #E3E9EE !important;
  }



  #sb-main {
    height: 470px;
    overflow-y: auto;
  }

  .list-sb-menu{
    padding: 0;
  }

  .list-sb-menu-item {
    color: #363B49;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    padding: 8px 12px;
    cursor: pointer;
  }

  .list-sb-menu-item button {
    color: #363B49;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .list-sb-menu-item div {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .list-sb-menu-item:hover {
    background-color: #E3E9EE !important;
  }

  .list-sb-menu-item:active {
    background-color: #DFE3E6 !important;
  }

  .list-sb-menu-item.activeChat {
    background-color: #DFE3E6 !important;
  }
  
  #all-background-for-sb-popup {
    position: fixed;
    inset: 0;
    background-color: black;
    opacity: 0.25;
    z-index: 1500;
  }

  .sidebar-popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 186px;
    height: 126px;
    z-index: 2000;
    padding: 10px;
    gap: 4px;
    background-color: #FFF;
    border: #EAEEF1 solid 1px;
    border-radius: 12px;
  }

  .context-menu-item {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 4px 8px;
  }

  .context-menu-item:hover {
    background-color: #E3E9EE !important;
  }

  #sb-footer {
    position: sticky;
    bottom:0;
    margin-top: auto;
    height: 130px;
    padding-top: 10px;
    padding-bottom: 35px;
    border-top: 1px solid #B0B8C1;
  }

  #sb-footer span {
    margin-left: 8px;
  }

  #sb-footer > button {
    width: 200px;
  }


  #toggle-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 192px;
    height: 36px;
    padding: 4px;
    border-radius: 12px;
    background-color: #D7DDE3;
  }

  #toggle-theme button {
    width: 95px;
    color: #747A85;
    padding: 8px 12px;
  }

  #toggle-theme button.active-theme-btn {
    color: #363B49;
    background-color: #fff !important;
  }